body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
  background-color: #f5f5f5;
  color: #02112c;
}

.logo {
  width: 120px;
  height: 120px;
  background-color: #f5f5f5;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  color: #f5f5f5;
  font-family: 'Space Mono', Courier, monospace;
}

.description {
  text-align: center;
  max-width: 900px;
  margin: 0 auto 20px;
  font-size: 18px;
  color: #02112c;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #070a0f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Space Mono', Courier, monospace;
}

iframe {
  display: none;
  width: 60%;
  height: 600px;
  margin: 30px auto 0; /* Center horizontally */
  border: none;
}

@media (max-width: 768px) {
  iframe {
    width: 100%;
  }
}

.logo-text {
  font-family: 'Space Mono', Courier, monospace;
  font-size: 64px;
  color: #000000;
  margin-left: 0px; /* Space between logo and text */
  /*text-shadow: 3px 3px 8px #ff7e5f, 6px 6px 15px grey; /* Enhance gradient-like shadow for more pop */
}
.logo-img {
  width: 250px;   /* change this number to resize the logo */
  height: auto;   /* keeps the right proportions */
  margin-right: 10px;
}
